<!DOCTYPE html>
<html>
  <head>
    <title>Bingo controller</title>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <button onclick="reset()">reset</button>
    <button onclick="sendword()">send word</button>
    <script>
    
//var socket = io.connect('https://211.bingopalooza.com');
var socket = io.connect('/');

function reset() {
    console.log("attempting to send reset");
    socket.emit('sendreset', '{}');
}

function sendword() {
    console.log("attempting to send next word");
    socket.emit('sendkeyword', '{}');
}

    </script>
  </body>
</html>
