<!DOCTYPE html>
<html>
  <head>
    <title>BINGOPALOOZA!!!</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <table>
      <tr>
	<td colspan="3" align="center">
	  <h1>BINGOPALOOZA!!!</h1>
	</td>
      </tr>
      <tr style="border-top:1px solid black;height:50px;">
	<td colspan="100%"><hr/></td>
      </tr>

      <tr>
	<td valign="top">
	  <div id="board"></div>
	</td>
	<td style="width:50px;">
	</td>
	<td valign="top">
	  <h1>Words so far</h1>
	  <div id="words"></div>
	</td>
      </tr>
</table>
    <script>
//var socket = io.connect('https://211.bingopalooza.com');
var socket = io.connect('/');
var keywords = [];
var randarr = [];

function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

function highlight(tdid) {
    if (document.getElementById(tdid).getAttribute("style").includes("lightgreen")) {
	document.getElementById(tdid).setAttribute("style", "background-color: white;width:100px;height:100px");
    }else{
	document.getElementById(tdid).setAttribute("style", "background-color: lightgreen;width:100px;height:100px;");
    }
}

// append the chat text message
socket.on('chat_message', function(msg){
    $('#messages').append($('<li>').html(msg));
});
// append text if someone is online
socket.on('is_online', function(username) {
    $('#messages').append($('<li>').html(username));
});

socket.on('reset', function(msg){
    keywords=[];
    document.getElementById("board").innerHTML = "";
    document.getElementById("words").innerHTML = "";
});

socket.on('keyword', function(msg){
    console.log(msg);
    var thtml = document.getElementById("words").innerHTML;
    //thtml = msg + "<br>" + thtml;
    thtml = thtml + msg + "<br>";
    document.getElementById("words").innerHTML = thtml;
});

socket.on('keywords', function(msg){
    if (keywords.length == 0) {
	keywords=JSON.parse(msg);
	console.log(keywords);


	randarr=[];
	for(var i = 0; i < keywords.length; i++) {
	    randarr.push(i);
	}
	randarr=shuffle(randarr);
	console.log(randarr);
	
	boardtxt="<table border=\"1\">";
	for(var i = 0; i < 5; i++) {
	    boardtxt=boardtxt+"<tr style=\"height:100px;\">";
	    for(var j = 0; j < 5; j++) {
		//boardtxt=boardtxt+"<td id=\"td"+(i*5+j)+"\" style=\"width:100px;\" align=\"center\" onclick=\"highlight('td"+(i*5+j)+"')\">";
		boardtxt=boardtxt+"<td>";
		boardtxt=boardtxt+"<button id=\"td"+(i*5+j)+"\" style=\"background-color: white;width:100px;height:100px;\" align=\"center\" onclick=\"highlight('td"+(i*5+j)+"')\">";
		//boardtxt=boardtxt+i+j;
		boardtxt=boardtxt+keywords[randarr[i*5+j]];
		boardtxt=boardtxt+"</button>";
		boardtxt=boardtxt+"</td>";
	    }
	    boardtxt=boardtxt+"</tr>";
	}
	boardtxt=boardtxt+"</table>";
	document.getElementById("board").innerHTML = boardtxt;
    }
});

    </script>
  </body>
</html>
